@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

#titulo{
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: beige;
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 3%;
    justify-content: center;
}

form {
    background-color: rgba(152, 255, 255, 0.829);
    border: 1.3px solid black;
    margin-left: 15%;
    padding-top: 2%;
    margin-right: 15%;
    
   
}

input {
    border-radius: 5px;
}

.campo {
    margin: 10px;
    justify-content: center;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.grupo {
    margin: 10px;
}

.botao {
    background-color: rgba(5, 172, 172, 0.705);
    margin: 10px;
    padding: 5px;
}

.botao:hover {
    background-color: cyan;
}
