@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #28ecd9b4;
}

header {
    background-color: #009688;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color: #023a35;
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
}

i#burguer:hover {
    background-color: #00ffff;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li> a {
    display: block;
    padding: 8px;
    margin-left: 8px;
    text-decoration: none;
    text-align: center;
    background-color: #00635A;
    color: white;
    border-top:2px solid #32A89C;
    border-radius: 10px;
}

menu > ul > li > a:hover {
    background-color: #44E3D3;
    color: black;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 30px;
}

.autor {
    padding-top: 10px;
    text-indent: 10px;
}